<div class="level">
    <div class="level-item is-flex is-justify-center is-align-items-center">
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
        <span class="icon is-large">
            <i class="fas fa-cubes"></i>
        </span>
    </div>
</div>
